<!-- <p>show-grade works!</p> -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="addClick()"
    data-backdrop="static" data-keyboard="false">Add Grade
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered model-x1" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <app-add-edit-grade [grade]="grade" *ngIf="ActivateAddEditGradeComp"></app-add-edit-grade>
        </div>
      
      </div>
    </div>
  </div>



<table class="table table-striped">
    <thead>
        <tr>
            <th>GradeId</th>
            <th>GradeName</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of GradeList">
            <td>{{dataItem.GradeId}}</td> 
            <td>{{dataItem.GradeName}}</td>
            <td>
                <button type="button" class="btn btn-primary btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="editClick(dataItem)"
    data-backdrop="static" data-keyboard="false">
  </button>
  
                <!-- edit icon -->
                <button type="button" class="btn btn-primary mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                      </svg>
                </button>

                  <!-- delete icon -->
                <button type="button" class="btn btn-primary mr-1"
                (click)="deleteClick(dataItem)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>                </button>
            </td> 

        </tr>
    </tbody>

</table>