<!-- <p>show-grade works!</p> -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="addClick()"
    data-backdrop="static" data-keyboard="false">Add Grade
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{Modal title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <app-add-edit-grade [grade]="grade" *ngIf="ActivateAddEditGradeComp"></app-add-edit-grade>
        </div>
      
      </div>
    </div>
  </div>



<table class="table table-striped">
    <thead>
        <tr>
            <th>GradeId</th>
            <th>GradeName</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of GradeList">
            <td>{{dataItem.GradeId}}</td> 
            <td>{{dataItem.GradeName}}</td>
            <td>
                <button type="button" class="btn btn-primary mr-1">
                   Edit
                </button>

                <button type="button" class="btn btn-primary mr-1">Delete</button>
            </td> 

        </tr>
    </tbody>

</table>