<div class="card-group">
    <div class="card">
      <img src="../../assets/best-binoculars-for-kids.jpg" class="card-img-top" alt="vission image" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">Vission</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/mission2.jpg" class="card-img-top" alt="mission" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">Mission</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/moto.jpg" class="card-img-top" alt="moto logo" width="50%" height="50%">
      <div class="card-body">
        <h5 class="card-title">MOTTO</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="card text-center">
    
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer bg-dark text-light">
      All rigth reserved @2021
    </div>
  </div>
